// Color -------------------------

$type: rgba(184, 178, 222, 1);

// $type: rgba(130, 130, 130, 1);

$softbg: rgba(234, 234, 234, 1);

$accent: rgba(0, 178, 150, 1);


// Typography --------------------

$lato: "Lato", sans-serif;
$normal: 400;
$light: 300;
$thin: 200;

// Objects -----------------------
$brad: 3px;